*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: brown;
    margin: 30px;
    padding: 50px;
}

span{ 
    color: blue;
}

.descricao {
    color: rgb(0, 0, 0);
}